version: '2'
services:
        mysql56:
                image: mysql:5.6.46
                volumes:
                        # 时区同步
                        - /etc/localtime:/etc/localtime:ro
                        - ./conf:/etc/mysql/conf.d
                        - ./logs:/logs
                        - ./data:/var/lib/mysql
                ports:
                        - "3306:3306"
                environment:
                        - TZ=Asia/Shanghai
                        - MYSQL_ROOT_PASSWORD=root

