version: '2'
services:
        mysql56:
                image: mysql:5.6
                volumes:
                        - ./conf:/etc/mysql/conf.d
                        - ./logs:/logs
                        - ./data:/var/lib/mysql
                ports:
                        - "3306:3306"
                environment:
                        - MYSQL_ROOT_PASSWORD=root

