version: '2'
services:
    java:
        image: openjdk:8-jdk-alpine
        # 日志容量限制
        logging:
            driver: "json-file"
            options:
                max-size: "1g"
        environment:
            TZ: Asia/Shanghai
        volumes:
            # 时区同步
            - /etc/localtime:/etc/localtime:ro
            # 应用存放目录
            - ./app:/app
        ports:
            - "18610:8084"
        command: java -jar /app/app.jar --spring.profiles.active=test
